.aws-body {
    margin-top: 2em;
    font-family: 'Roboto', sans-serif; 
    font-weight: bold;
    font-size:30px; 
    margin: 10px 50px; 
    font-weight: bold;
}

.aws-input{
    font-size:20px; 
    width: 60%;
    height: 200px;
}

.aws-label{
    color: white;
}

#msg {
    margin-top: 1em;
}

body.home{
    background: black;
    color: white;
    font-family: 'Waiting for the Sunrise', cursive; 
    font-size:30px; 
    margin: 10px 50px; 
    letter-spacing: 6px; 
    font-weight: bold;
}


.center{
    position:absolute;
    display:block;
    height:100px;
    width:600px;
    left:50%;
    top:50%;
    margin-top:-50px;
    margin-left:-300px;
}

footer {
	position: fixed;
    font-size:12px; 
    width: 100%;
	left: 0;
	bottom: 1em;
	color: white;
	text-align: center;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}